body{
    background-color: whitesmoke;
}
.backgroundimg{
    background-image: url('https://pixabay.com/get/g77783ce50a103f762774e8995d1de46a80046223745e3f3164098c4acee7b18e651b1d92983fcb00b2d49407d190739efe5b37ab2476e9bb57065b9df24281e04e43beb363d1c5a24fa9fd634da961d9_1280.jpg');
    height: 500px;
    background-repeat: no-repeat;
    z-index: -1;
}
.homePageDiv{
    width: 800px;
    Height: 200px;
    margin: auto;
    z-index: 1;
    text-align: center;
    padding: 80px;
    color: black;   
    margin-top: -50px;
    background-color: white;
}
.homePageDiv h3{
    font-size: 40px;
}
.homePageDiv h5{
    font-size: 20px;  
}
