body{
    background-color: whitesmoke;
}
.backgroundimg{
    background-image: url('https://pixabay.com/get/g3d84250a1fa6730586ec209cb5827a0c1c76012af3a68d0f23be9dec31c045d6035e2daf2ff77051eff3b1b6d44a246867e9c1ccc1b030461eaffb4c0866df6a965d96c3093109865b2941bf8e4fb9fe_1280.jpg');
    height: 500px;
    background-repeat: no-repeat;
    z-index: -1;
}
.homePageDiv{
    width: 800px;
    Height: 200px;
    margin: auto;
    z-index: 1;
    text-align: center;
    padding: 80px;
    color: black;   
    margin-top: -50px;
    background-color: white;
}
.homePageDiv h3{
    font-size: 40px;
}
.homePageDiv h5{
    font-size: 20px;  
}
