.fullContainer{
    background-color: whitesmoke;  
    width: 270px; 
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    margin: 20px; 
    border-radius: 10px;
    text-align: center;
}

.perfumeContainer img{
    width: 270px;
    height: 250px;
}
.productFloat{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    place-items: center;
}

#addToCartBtn{
    background-color: whitesmoke;  
    margin: 20px; 
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    text-align: center;
    border:none;
    padding: 10px;
    
}
#addToCartBtn:hover {
    background-color: lightgray;
  }